@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("http://fonts.googleapis.com/css?family=Delius");

body { font-family: "Open Sans Condensed", Impact, sans-serif; }

a, a:hover, a:active, a:visited { text-decoration: none; color: orange; font-weight: 700; }

.hsContent { text-transform: uppercase; background-color: rgba(0, 0, 0, 0.75); padding: 25px; color: #efefef; clear: both; }
.hsContent h2 { font-size: 40pt; margin: 0; padding: 0; font-weight: 300; }
.hsContent h3 { font-size: 18pt; margin: 0; padding: 0; }

.bcg { background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; width: 100%; margin: 0; box-shadow: 0 0 5px black; }
.hsContainer { width: 960px; margin: 0 auto; }

#slide-1 .bcg { background-image: url("/images/slide-1.jpg"); }
#slide-1 .hsContent { width: 420px; float: left; }

#slide-2 .bcg { background-image: url("/images/slide-2.jpg"); }
#slide-2 .hsContent { width: 380px; float: right; }

#slide-3 .bcg { background-image: url("/images/slide-3.jpg"); }
#slide-3 .hsContent { width: 380px; float: left; }

#slide-4 .bcg { background-image: url("/images/slide-4.jpg"); }
#slide-4 .hsContent { width: 320px; float: right; }

#slide-5 .bcg { background-image: url("/images/slide-5.jpg"); }
#slide-5 .hsContent { width: 340px; float: left; }
#slide-5 .hsContent h2 { font-size: 20pt; }
#slide-5 .hsContent h4 { font-weight: 300; }
#slide-5 #oldwise { text-transform: none; font-family: "Delius"; color: orange; }
#slide-5 #price { font-weight: 700; }